.itemdetail-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery-container{
  margin-top: 48px;
  width: 80vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.headPhoto-gallery-container{
  display: flex;
  align-self: center;
  align-content: center;
  justify-content: center;
  height: 320px;
  width: 320px;
  box-shadow: 0px 0px 50px 5px rgb(32, 26, 51);
  border-radius: 4px;
}
.headPhoto-gallery{
  align-self: center;
  scale:0.6;
  border-radius: 8px;
}
.mini-photo{
  width: 40px;
  border-radius: 4px;
  max-height: 80px;
}
.each-photo-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  cursor: pointer;
  background-color: rgb(32, 26, 51);
  box-shadow: 0px 0px 10px 2px rgb(32, 26, 51);
  border-radius: 4px;
}
.each-photo-container:hover{
  box-shadow: 0px 0px 10px 2px rgb(88, 72, 139);
}
.mini-photo-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: center;
  margin-top: 16px;
  width: 400px;
}
.desc-text-detail{
  padding-inline: 16px;
}

@media (min-width : 850px) {
  .gallery-container{
    position: relative;
    left:240px;
    top:-128px;
    width:400px
  }
  .mini-photo-container{
    width: 240px;
  }
  .each-photo-container{
    margin-inline:10px;
    margin-block: 4px;
  }
  .desc-text-detail{
    width: 480px;
    position: relative;
    top: -520px;
    left: -172px;
  }
}